<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .content{
            width: 70%;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="content">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="/invoices">Счета</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">Пользователи</a>
          </li>
        </ul>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>







